# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\micha\OneDrive\Berufsunterlagen\Swissuccess\Kunden\CsBe\Modul_403\Inf20-1Semester\13_GitHub\Block_8\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
